.weather {
    max-width: 960px;
    margin: 100px auto;
    box-shadow: -1px 0px 43px -16px rgba(0,0,0,0.75);
    padding: 30px 50px;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
} 

h1 {
    color: #fff;
    font-weight: 100;
    font-size: 35px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px;
}

.row {
    margin: 10px 0;
}

.city__info {
    color: #fff;
    line-height: 1.5;
    font-weight: 300;
}

.temp__info {
    font-size: 40px;
    color: #fff;
    font-weight: 100;
}

.col {
    width: 20%;
}

.weather__current-show {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.weather__show {
    margin: 20px 0;
}